* {
    box-sizing: border-box;
}




nav {
    display: flex;
    justify-content: space-between;
    background-color: #1d1c1c;
    padding: 1rem 0 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    a {
    text-decoration: none;
    }
    a:visited {
        color: white;
    }
}

.nav-item {
    background-color: #1d1c1c;
    padding: 1rem;
    width: 100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bkground-color 0.3s;
}

.nav-item:hover {
    background-color: #d6d6d6;
    color: black;
}

#current {
    background-color: #cf3636;
    color:white;
}
#current:hover {
    background-color: #eb3e3e;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    a {
        text-decoration: none;
        color: #cf3636;
    }

    a:visited {
        color: #cf3636;
    }
}

.game-link {
    text-decoration: none;
    color: #000000;
}
.game-link:visited {
    color: #000000;
}
.game-card:hover {
    border: 1.5px solid #d87272;
    box-shadow: 2px 2px 4px #d8a0a082;
}


.main-heading {
    margin: 1rem 0 1rem 0;
}

.main-image {
    width: 80%;
}

.news-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 0 1 auto;
    width: 80%;
    max-width: 85ch;
}

.game-card, .news-card {
    margin-top: 1.5rem;
    text-align: left;
    border: 1.5px solid #d872726e;
    box-shadow: 1px 1px 4px #d8a0a04e;
    padding: 1rem;
    transition: box-shadow 0.1s;
    transition-timing-function: ease-in;
}

.game-sub-heading, .news-sub-heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.game-status {
    margin: 0;
    font-size: 0.9rem;
    color:#424141;
    font-style: italic;
}

.game-about, .news-about {
    font-size: 0.9rem;
}

.about-game-wrapper {
    width: 100%;
}

/* make this only desktop and make it mobile like 2 rows */
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
}
.team-member {
    background-color: #dcdcdc;
    font-size: 1rem;
    padding: 1rem;
    width: 38cqw;
}
.team-member-text {
    margin: 0;
}
.team-member-role {
    font-size: 0.8rem;
    color:#555454;
    margin: 0;
}
.team-image {
    width: 80%;
}
.game-image {
    width: 100%;
}

.assets-images-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
     img {
        width: 16cqw;
     }
}

.news-image {
    width: 90%;
    max-height: 14rem;
    object-fit: cover;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border: none;
     padding: 0.5rem 1rem 0.5rem 1rem;
     background-color:#555454;
     color:white;
     transition: background-color 0.3s;
     font-size: 1rem;
}

button:hover{
    background-color:#d6d6d6;
    cursor: pointer;
}

.back-button {
     margin: 1rem;
     padding: 0.5rem 1rem 0.5rem 1rem;
     background-color:#555454;
     color:white;
}

.buttons-wrapper {
    display: flex;
    gap: 2rem;
}

.link-button {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: #cf3636;
}
.link-button:hover {
    background-color:#f87f7f;
}
.text-heavy-page {
    align-self: center;
    max-width: 80ch;
    gap: 1rem;
    text-align: left;
    p {
        font-size: 1rem;
        align-self: start;
    }
}

/* .about-us-wrapper {
    text-align: start;
    p {
        align-self: start;
    } 
} */

@media screen and (min-width: 700px) {
    .main-image {
        width: 60%;
    }
    .team-grid {
        gap: 1rem;
        padding: 0 2rem 0 2rem;
    }
    .team-member {
        background-color: #dcdcdc;
        font-size: 1rem;
        padding: 1rem;
        width: 25cqw;
    }
    .game-card {
        max-width: 85ch;
    }
    .news-game-wrapper {
        width: 70%;
    }
}

@media screen and (min-width: 1280px) {
    .main-image {
        width: 40%;
    }
    nav {
        padding: 0px;
        justify-content: flex-start;
    }
    .nav-item {
        width: 5.5rem;
        padding: 1rem 0.6rem 1rem 0.6rem;
    }
    .news-game-wrapper {
        width: 60%;
        max-width: 65ch;
        gap: 0rem;
        
    }
    .link-button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 120%;
    }
    .nav-item {
        width: 7rem;
        padding: 1rem 0.6rem 1rem 0.6rem;
    }
    .link-button {
        font-size: 1.6rem;
    }
}